/* @settings

name: Praecordi Multitool Style
id: praecordi-multitool
settings:
	-
		id: zn-color
		title: Zea Language Color
		type: variable-color
		opacity: false
		format: hex
		default: '#ffffff'
*/

.p-lang {
	border-bottom: 1px dotted gray;
}

.p-lang[data-lang="zn"] {
	color: var(--zn-color);
	border-color: var(--zn-color);
}
